/* Modal Button Component Styles */

.modal-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modal-button-icon svg {
  display: block;
  width: 16px;
  height: 16px;
  stroke: currentColor;
}

.modal-button-text {
  font-weight: 500;
}
